*, *::before, *::after {
    box-sizing: border-box;
}
p{
    color:white;
}
.container{
    background-color: #434040;
    width:100vw;
    min-height: max(100%,100vh);
    display: flex;
    flex-direction: column;
    gap:10px;
}

.header{
    background-color: #6E3B3B;
    width:100%;
    padding: 30px;
    height:70px;
}

.order-container{
    width:300px;
    /* height:350px; */
    background-color: #461919;
    padding: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px;
    transition: box-shadow ease .5s;
}

.order-container:hover{
    box-shadow: black 0px 0px 10px;
}

.order-container button{
    border: none;
    padding: 15px;
    background-color: #2D2D2D;
    border-radius: 5px;
    color:white;
    transition: background-color ease .6s;
    cursor: pointer;
    font-size: 1.3rem;
}
.order-container button:hover{
    background-color:#2d2d2dc2 ;
}

.item-container{
    position: relative;
    width:300px;
    height:350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: black 0px 0px 5px;
    transition: box-shadow ease .5s;
}
.item-container:hover{
    box-shadow: black 0px 0px 10px;
}

.item-container img{
    position: absolute;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.item-details{
    z-index: 1;
    background-color: #2d2d2dbf;
    position: absolute;
    left:0;
    width:100%;
    height: 100%;
}

.item-details p {
    color: #ffffff;
    font-size: 1.5rem;
}

.btns button{
    border: none;
    padding: 15px;
    background-color: #6E3B3B;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    transition: background-color ease .6s;
    cursor: pointer;
    font-size: 1.6rem;
}
.btns button:hover{
    background-color:#6e3b3bb4 ;
}

.btns button img {
    width: 40px;
}