
<main>

  <div style="display: flex; gap: 20px; margin-top: 20px ;">
    <img [src]="serverUrl+'/imagesProfile/'+curr.imageSrc" width="90px" height="90px" style="border-radius: 50%;">
    <h2>{{curr.firstName}} {{curr.lastName}}</h2>
  </div>

<h1>Pending Orders</h1>
<h2 *ngIf="pending.length==0" style="color:gray">You have no pending orders</h2>
<div id="pendingorder" *ngFor="let order of pending;index as i" >
  <div style=" width: 60vw;display: flex; justify-content: space-between;">
  <h2 style="color: rgb(182, 36, 36);">Order N°{{order._id}}</h2>
  <h3>Status: {{order.status}}</h3>
  </div>
  
  
  <div style="display: flex; gap: 20px; align-items: center;">
  <h2>Items:</h2>
  <h3 style="color: gray;">{{stringify(order.items)}}</h3>
  </div>
  <h2 *ngIf="order.status=='out_for_delivery'" style="color: Navy" >Chat with deliverer</h2>
  <app-chat-box *ngIf="order.status=='out_for_delivery'" [chatId]="order.chatId" [userId]="curr._id"></app-chat-box>


<div *ngIf="order.status=='delivered'">
<h2>Rate these Items</h2>

<div >
  <div class="rate" style="display: flex; gap:20px" *ngFor="let prod of order.items">
    <h3>{{prod.product.name}}: </h3>
    <button (click)="color(1,prod.product._id)" id="{{prod.product._id}}star1">&starf;</button>
    <button  (click)="color(2,prod.product._id)" id="{{prod.product._id}}star2">&starf;</button>
    <button  (click)="color(3,prod.product._id)" id="{{prod.product._id}}star3">&starf;</button>
    <button (click)="color(4,prod.product._id)" id="{{prod.product._id}}star4">&starf;</button>
    <button  (click)="color(5,prod.product._id)" id="{{prod.product._id}}star5">&starf;</button>

  </div>

</div>

<button id="confirmation" (click)="confirm(i)">Confirm Arrival</button>
</div>
</div>



<h1 style="margin-top: 100px;">Past Orders</h1>
<h2 *ngIf="past.length==0" style="color:gray">Your past orders will appear here</h2>
<div id="pastorder" *ngFor="let order of past">
  <h2 style="color: rgb(78, 73, 73);">On: {{order.createdAt}}</h2>
  <h2 style="color: rgb(182, 36, 36);">Order N°{{order._id}}</h2>
  <div style="display: flex; gap: 20px; align-items: center;">
  <h2>Items:</h2>
  <h3 style="color: gray;">{{stringify(order.items)}}</h3>
  </div>
</div>
</main>