main{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: #FD9D17;
    color: white;
    font-family: "Ms Madi";
    font-size: 25px;
    height: 200px;
}
div{
    display: flex;
}

header>div, header>h2{
    gap: 30px;
    max-width: fit-content;
    margin: auto;
}
header>div{
    align-items: center;
    font-family: "Creepster";
    font-size: 30px;
}

#sidebar{
    width: 10vw;
    min-height: calc(100vh - 200px);
    flex-direction: column;
    align-items: center;
    background-color:#e6c69b ;
    padding-top: 20px;
    gap: 60px;
}
#sidebar>div{
    flex-direction: column;
    max-width: fit-content;
}
#sidebar>div>img{
    transition: width 1s;
}

#sidebar>div:hover>img{
    width: 90px;
    height: 90px;
}