<main>
    <header>
        <div>
        <h1>Best Bites</h1>
        <img src="pics/burger.png" height="60px" width="60px"/>
    </div>
        <h2>Best flavor, in every Bite</h2>
    </header>
    <div id="rest">
        <div id="sidebar">
            <div>
            <img src="pics/menu.png" height="70px" width="70px" (click)="lastbtn=1"/>
            <h2>Menu</h2>
            </div>
            <div>
            <img src="pics/cart.png" height="70px" width="70px" (click)="lastbtn=2"/>
            <h2>Panier</h2>
            </div>
            <div>
            <img src="pics/clientIcon.png" height="70px" width="70px" (click)="lastbtn=3"/>
            <h2>Profile</h2>
            </div>
        </div>
        <compmenu *ngIf="lastbtn==1"></compmenu>
        <comppanier *ngIf="lastbtn==2"></comppanier>
        <comphistorique *ngIf="lastbtn==3"></comphistorique>
    </div>
</main>