<main>
    <div *ngFor="let cat of ['pizza', 'burger', 'taco','salad','dessert', 'drink']">
    <h1>Nos {{cat}}:</h1>
    <div class="items">
        <div *ngFor="let prod of sort(cat)" class="item" >
            <img [src]="serverUrl+prod.image" height="200px" width="200px"/>
            <h3 id="name">{{prod.name}}</h3>
            <h3>{{prod.price}} Dt</h3>
            <h3>Rating: {{prod.rating.average}} &starf; ( {{prod.rating.count}} reviews)</h3>
            <div>
                <button id="sub" (click)="remove(prod._id, prod.ingredients)">-</button>
                <h5>{{ getnumber (prod._id)  }}</h5>
                <button id="add" (click)="add( prod )">+</button>
            </div>
        </div>
    </div>
    </div>
</main>